@model AccountDetailsViewModel
@{
    ViewData["Title"] = $"{Model.ProfileInfo!.FirstName} {Model.ProfileInfo.LastName}";
}
<div class="container">
    <section id="account-details">

        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
        {
            <div class="alert">
                @ViewData["ErrorMessage"]
            </div>
        }

        <aside>
            <div class="profile-info">
                <img src="~/images/@Model.ProfileInfo.ProfileImageUrl" alt="" />
                <h5>@Model.ProfileInfo.FirstName @Model.ProfileInfo.LastName</h5>
                <p>@Model.ProfileInfo.Email</p>
            </div>

            <nav>
                <a class="btn-theme-s" asp-controller="Account" asp-action="Details">Account Details</a>
                <a class="btn-gray" asp-controller="Account" asp-action="SignOut">Sign out</a>
            </nav>
        </aside>

        <div class="details">
            <section class="basic-info">
                <form method="post" asp-controller="Account" asp-action="Details" novalidate>
                    <h2>Account Details</h2>
                    <h5>Basic Info</h5>

                    <div class="form-content">
                        <div id="firstname" class="input-group">
                            <label asp-for=BasicInfo!.FirstName></label>

                            @if (Model.BasicInfo.IsExternalAccount)
                            {
                                <input asp-for="BasicInfo!.FirstName" readonly class="form-control-plaintext" />
                            }
                            else
                            {
                                <input asp-for="BasicInfo!.FirstName" />
                                <span asp-validation-for="BasicInfo!.FirstName"></span>
                            }
                        </div>

                        <div id="lastname" class="input-group">
                            <label asp-for=BasicInfo!.LastName></label>

                            @if (Model.BasicInfo.IsExternalAccount)
                            {
                                <input asp-for="BasicInfo!.LastName" readonly class="form-control-plaintext" />
                            }
                            else
                            {
                                <input asp-for="BasicInfo!.LastName" />
                                <span asp-validation-for="BasicInfo!.LastName"></span>
                            }
                        </div>

                        <div id="email" class="input-group">
                            <label asp-for=BasicInfo!.Email></label>

                            @if (Model.BasicInfo.IsExternalAccount)
                            {
                                <input asp-for="BasicInfo!.Email" readonly class="form-control-plaintext" />
                            }
                            else
                            {
                                <input asp-for="BasicInfo!.Email" />
                                <span asp-validation-for="BasicInfo!.Email"></span>
                            }
                        </div>

                        <div id="phone" class="input-group">
                            <label asp-for=BasicInfo!.Phone></label>
                            <input asp-for="BasicInfo!.Phone" />
                            <span asp-validation-for="BasicInfo!.Phone"></span>
                        </div>

                        <div id="bio" class="input-group">
                            <label asp-for=BasicInfo!.Bio>Bio <span>(optional)</span></label>
                            <textarea asp-for="BasicInfo!.Bio"></textarea>
                        </div>

                        <div class="btn-submit">
                            <button class="btn btn-gray" type="reset">Cancel</button>
                            <button class="btn btn-theme" type="submit">Save changes</button>
                        </div>

                    </div>
                </form>
            </section>
            <hr />
            <section class="address-info">
                <form method="post" asp-controller="Account" asp-action="Details" novalidate>
                    <h5>Address</h5>

                    <div class="content">
                        <div id="form-addressline-1" class="input-group">
                            <label asp-for="AddressInfo!.AddressLine_1"></label>
                            <span asp-validation-for="AddressInfo!.AddressLine_1"></span>
                            <input asp-for="AddressInfo!.AddressLine_1" />
                        </div>

                        <div id="form-addressline-2" class="input-group">
                            <label asp-for="AddressInfo!.AddressLine_2">Address line 2 <span>(optional)</span></label>
                            <span asp-validation-for="AddressInfo!.AddressLine_2"></span>
                            <input asp-for="AddressInfo!.AddressLine_2" />
                        </div>

                        <div id="form-postalcode" class="input-group">
                            <label asp-for="AddressInfo!.PostalCode"></label>
                            <span asp-validation-for="AddressInfo!.PostalCode"></span>
                            <input asp-for="AddressInfo!.PostalCode" />
                        </div>

                        <div id="form-city" class="input-group">
                            <label asp-for="AddressInfo!.City"></label>
                            <span asp-validation-for="AddressInfo!.City"></span>
                            <input asp-for="AddressInfo!.City" />
                        </div>

                        <div class="form-buttons">
                            <button class="btn btn-gray" type="reset">Cancel</button>
                            <button class="btn btn-theme" type="submit">Save changes</button>
                        </div>

                    </div>
                </form>
            </section>
        </div>

    </section>
</div>