.signin-dark {
    background-color: $gray-900;
    margin-top: 100px;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 60%;
        flex-direction: column;

        h1 {
            color: white;
        }

        p {
            color: $gray-400;
        }

        @include lg {
            width: 40%;
        }

        @include xl {
            width: 40%;
        }

        form {
            align-items: center;

            @include lg {
                width: 80%;
            }

            @include xl {
                width: 60%;
            }

            .form-content {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas: "email" "password" "confirm" "remember" "btn-submit";

                input {
                    background-color: $gray-900;
                    border-color: $gray-700;
                    color: white;
                }

                label {
                    color: white;
                }

                #email {
                    grid-area: email;
                }

                #password {
                    grid-area: password;
                }

                #rememberMe {
                    grid-area: remember;
                }

                #btn-submit {
                    grid-area: btn-submit;
                }
            }


            .input-group {
                margin-bottom: 1rem;
                background-color: $gray-900;
            }

            .checkbox-group {
                margin-top: 1rem;
                align-items: center;
                justify-content: center;
            }
        }

        hr {
            color: white;
            width: 30rem;
            background-color: white;
            margin-top: 2rem;
        }

        .external-providers {
            .providers {
                display: flex;
                padding-top: 1rem;
                gap: 1rem;
            }
        }
    }
}
