main {
    background-color: var(--color-gray-000);
}

.signin {
    margin-top: 100px;
    background-color: var(--color-gray-000);

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 60%;
        flex-direction: column;

        @include lg {
            width: 40%;
        }

        @include xl {
            width: 40%;
        }

        form {
            align-items: center;

            @include lg {
                width: 80%;
            }

            @include xl {
                width: 60%;
            }

            h1 {
                color: var(--color-gray-900);
            }

            p {
                color: var(--color-gray-500);
            }

            .form-content {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas: "email" "password" "confirm" "remember" "btn-submit";

                #email {
                    grid-area: email;
                }

                #password {
                    grid-area: password;
                }

                #rememberMe {
                    grid-area: remember;
                }

                #btn-submit {
                    grid-area: btn-submit;
                }

                label {
                    color: var(--color-gray-900);
                }
            }


            .input-group {
                margin-bottom: 1rem;
                background-color: var(--color-gray-000);

                label {
                    background-color: var(--color-gray-000);
                    color: var(--color-gray-900);
                }

                input {
                    background-color: var(--color-gray-000);
                    color: var(--color-gray-900);
                }
            }

            .checkbox-group {
                margin-top: 1rem;
                align-items: center;
                justify-content: center;
            }
        }

        .external-providers {
            h6 {
                color: var(--color-gray-900);
            }

            .providers {
                display: flex;
                padding-top: 1rem;
                gap: 1rem;
            }
        }
    }
}
