.signin {
    margin-top: 100px;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 60%;
        flex-direction: column;

        @include lg {
            width: 40%;
        }

        @include xl {
            width: 40%;
        }

        form {
            align-items: center;
            
            @include lg {
                width: 80%;
            }
            @include xl {
                width: 60%;
            }

            .form-content {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas: "email" "password" "confirm" "remember" "btn-submit";

                #email {
                    grid-area: email;
                }

                #password {
                    grid-area: password;
                }

                #rememberMe {
                    grid-area: remember;
                }

                #btn-submit {
                    grid-area: btn-submit;
                }
            }


            .input-group {
                margin-bottom: 1rem;
            }

            .checkbox-group {
                margin-top: 1rem;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
