.work-tools {
    background-color: var(--color-gray-000);

    .container {
        height: 70rem;

        @include lg {
            height: 40rem;
        }

        .work-tools-headline {
            text-align: center;

            h1 {
                color: var(--color-gray-900);
            }

            p {
                margin-top: 1.5rem;
                @include text-lg;
                color: var(--color-gray-600);
            }
        }

        .box-parent {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 3.5rem;
            gap: 2rem;

            @include lg {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            .box-section {
                transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
                border-radius: 10px;

                img {
                    margin-bottom: 1rem;
                }

                p {
                    @include text-m;
                    color: var(--color-gray-600);
                }

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                    background-color: var(--color-gray-100);
                }
            }
        }
    }
}
