.alert {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #F5D7DA;
    border: solid red 1px;

}

.custom-alert-success {
    background-color: $success;
    border-color: $success;
    color: $gray-800;
    
}

.custom-alert-warning {
    background-color: $warning;
    border-color: $warning;
    color: $gray-800;
}

.active {
    color: var(--color-white);
    font-weight: bold;
    background-color: $theme;
}