<section class="author-container">
    <div class="container">
        <div class="image-container">
            <img src="~/images/selfies/albertfloresbig.png" />
        </div>
        <div class="author-info">
            <div class="author">
                <p class="small-headline">Learn from the best</p>
                <h1>Albert Flores</h1>
                <p class="author-description">Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque faucibus amet, eleifend diam quam condimentum convallis ultricies placerat. Duis habitasse placerat amet, odio pellentesque rhoncus, feugiat at. Eget pellentesque tristique felis magna fringilla.</p>
                <div class="social-buttons">
                    <button class="youtube"><i class="fa-brands fa-youtube"></i> 240k subscribers</button>
                    <button class="facebook"><i class="fa-brands fa-facebook"></i> 180k followers</button>
                </div>
            </div>
        </div>
    </div>
</section>
