@inject SignInManager<UserEntity> _signInManager
@{
    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    var isDark = (themeMode == "dark") ? true : false;
}
<header>
    <div class="container">
        <a id="logo" asp-controller="Default" asp-action="Home">
            <img src="~/images/@(isDark ? "silicon-logo-dark.svg" : "silicon-logo-light.svg")" alt="Silicon">
        </a>

        <div id="menu">
            <nav>
                <a class="menu-link" asp-controller="Default" asp-action="Home" asp-fragment="overview">Overview</a>
                <a class="menu-link" asp-controller="Default" asp-action="Home" asp-fragment="features">Features</a>
                @if (_signInManager.IsSignedIn(User))
                {
                    <a class="menu-link" asp-controller="Course" asp-action="Courses">Courses</a>
                }
                <a class="menu-link" asp-controller="Contact" asp-action="ContactIndex">Contact</a>

            </nav>
        </div>

        <div id="theme-switch" class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" checked="@isDark" />
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>

        <div class="account-buttons">
            @if (_signInManager.IsSignedIn(User))
            {
                <a class="btn-gray" asp-controller="Account" asp-action="SignOut"><i class="fa-regular fa-right-from-bracket"></i><span>Sign out</span></a>
                <a class="btn-theme" asp-controller="Account" asp-action="Details"><i class="fa-regular fa-user"></i><span>My Account</span></a>
            }
            else
            {
                <a class="btn-gray" asp-controller="Account" asp-action="SignIn"><i class="fa-regular fa-right-to-bracket"></i><span>Sign In</span></a>
                <a class="btn-theme" asp-controller="Account" asp-action="SignUp"><i class="fa-regular fa-user"></i><span>Sign Up</span></a>
            }

        </div>

        <div class="btn-mobile">
            <button class="btn" id="mobile-menu-btn" aria-controls="mobile-menu"></button>
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>


    <div id="mobile-menu" class="open" aria-expanded="false">
        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" checked="@isDark" />
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>
        <div class="account-buttons">
            @if (_signInManager.IsSignedIn(User))
            {
                <a class="btn-gray" asp-controller="Account" asp-action="SignOut"><i class="fa-regular fa-right-from-bracket"></i><span>Sign out</span></a>
                <a class="btn-theme" asp-controller="Account" asp-action="Details"><i class="fa-regular fa-user"></i><span>My Account</span></a>
            }
            else
            {
                <a class="btn-gray" asp-controller="Account" asp-action="SignIn"><i class="fa-regular fa-right-to-bracket"></i><span>Sign In</span></a>
                <a class="btn-theme" asp-controller="Account" asp-action="SignUp"><i class="fa-regular fa-user"></i><span>Sign Up</span></a>
            }
        </div>
        <nav>
            <a class="menu-link" asp-controller="Default" asp-action="Home" asp-fragment="overview">Overview</a>
            <a class="menu-link" asp-controller="Default" asp-action="Home" asp-fragment="features">Features</a>
            @if (_signInManager.IsSignedIn(User))
            {
                <a class="menu-link" asp-controller="Courses" asp-action="Index">Courses</a>
            }
            <a class="menu-link" asp-controller="Contact" asp-action="ContactIndex">Contact</a>
        </nav>
    </div>
</header>