@model SubscribeViewModel


<section id="subscribe" class="subscribe">
    <div class="container">
        <div class="title">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="~/images/arrow.svg" alt="" />
        </div>

        <form asp-controller="Default" asp-action="Subscribe" asp-fragment="subscribe" method="post">
            <div class="newsletter-options">
                <h3>Sign up for <br />Newsletter</h3>
                <div class="options">
                    <div class="checkbox-group">
                        <input asp-for="DailyNewsletter" />
                        <label asp-for="DailyNewsletter"></label>
                    </div>
                    <div class="checkbox-group">
                        <input asp-for="AdvertisingUpdates" />
                        <label asp-for="AdvertisingUpdates"></label>
                    </div>
                    <div class="checkbox-group">
                        <input asp-for="WeekInReview" />
                        <label asp-for="WeekInReview"></label>
                    </div>
                    <div class="checkbox-group">
                        <input asp-for="EventUpdates" />
                        <label asp-for="EventUpdates"></label>
                    </div>
                    <div class="checkbox-group">
                        <input asp-for="StartupsWeekly" />
                        <label asp-for="StartupsWeekly"></label>
                    </div>
                    <div class="checkbox-group">
                        <input asp-for="Podcasts" />
                        <label asp-for="Podcasts"></label>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <input asp-for="Email" />
                <button class="btn-theme-s" type="submit">Subscribe</button>
            </div>
        </form>
        <span class="information">
            @if (TempData["Status"]?.ToString() == "Success")
            {
                <span class="alert custom-alert-success">
                    You have been subscribed
                </span>

            }
            else if (TempData["Status"]?.ToString() == "AlreadyExists")
            {
                <span class="alert custom-alert-warning">
                    You have already subscribed
                </span>
            }
            else if (TempData["Status"]?.ToString() == "ConnectionFailed")
            {
                <span class="alert alert-danger">
                    Unable to contact the server. Please try again later.
                </span>
            }
            else if (TempData["Status"]?.ToString() == "Unauthorized")
            {
                <span class="alert alert-danger">
                    Something went wrong. Please contact web admin.
                </span>
            }
            else
            {
                <span>* Yes, I agree to the terms and privacy policy</span>
            }
        </span>



    </div>
</section>